/* ==========================================================================
   init: fonts
   ========================================================================== */

@font-face {
  font-family: "Gojek-Super-App";
  src: url("../../core/assets/fonts/Gojek-Super-App.eot?63yfww");
  src: url("../../core/assets/fonts/Gojek-Super-App.eot?63yfww#iefix") format("embedded-opentype"), url("../../core/assets/fonts/Gojek-Super-App.ttf?63yfww") format("truetype"),
    url("../../core/assets/fonts/Gojek-Super-App.woff?63yfww") format("woff"), url("../../core/assets/fonts/Gojek-Super-App.svg?63yfww#Gojek-Super-App") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
