/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  hero-banner-txt: 1,
  topics-lnk: 1,
  news-lnk: 1,
  forte: 1,
);
