/* ==========================================================================
   components: Services
   ========================================================================== */

@import "core/styles/_assets.scss";

.services {
  background-color: color(black);
  color: color(white);
  padding-top: 80px;
  padding-bottom: 80px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
