/* ==========================================================================
   components: join
   ========================================================================== */

.join {
  padding-top: 80px;
  padding-bottom: 80px;
  &__price {
    @include font-size(h6);
  }
  &__ttl {
    text-align: center;
    margin-bottom: 80px;
  }
  &__list {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
  }
  &__item {
    flex: 0 0 33.3333333%;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__box {
    padding: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    position: relative;
  }
  &__img {
    position: absolute;
    top: -64px;
  }
  &__desc {
    @include font-size(h6);
    min-height: 72px;
    @include multiline-ellipsis(3);
  }
  &__lnk {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: color(white);
    background-color: color(green);
    padding: 10px 24px;
    border-radius: 24px;
    @include font-size(h6);
    font-weight: fw(semi-bold);
  }
}
