/* ==========================================================================
   components: loyalty
   ========================================================================== */

.loyalty {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: color(black);
  &__inner {
    display: flex;
    align-items: center;
  }
  &__img {
    flex: 0 0 50%;
    &__el {
      width: 100%;
    }
  }
  &__txt {
    color: color(white);
    flex: 0 0 50%;
    padding-left: 20px;
  }
  &__ttl {
    font-size: 36px;
    line-height: 48px;
  }
  &__desc {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  &__lnk {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: color(white);
    background-color: color(green);
    font-size: 18px;
    line-height: 24px;
    padding: 10px 24px;
    border-radius: 24px;
    font-weight: 600;
  }
}
