/* ==========================================================================
   components: Not Found
   ========================================================================== */

.not-found {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__illustration {
    flex: 1;
    img {
      display: block;
    }
  }
  &__text {
    padding: 48px;
  }
}
