/* ==========================================================================
   components: services
   ========================================================================== */

.services {
  $s: &;
  background-color: color(black);
  color: color(white);
  padding-top: 80px;
  padding-bottom: 80px;
  &__box {
    border-radius: 24px;
  }
  &__products {
    padding: 32px;
    min-height: 300px;
    position: relative;
    z-index: 1;
    border-radius: 24px;
  }
  &__logo {
    height: 28px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    &__el {
      height: 100%;
    }
  }
  &__txt {
    margin-top: -24px;
    border-radius: 0 0 24px 24px;
    padding: 48px 16px 56px;
    text-align: center;
  }
  &__ttl {
    margin-bottom: 8px;
  }
  &__desc {
    margin-bottom: 0;
    @include font-size(label-b);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }
  &__item {
    flex: 0 0 25%;
    padding-left: 16px;
    padding-right: 16px;
    &--green {
      #{$s} {
        &__products {
          background-color: color(services, green);
        }
        &__txt {
          background-color: color(services-dark, green);
        }
      }
    }
    &--blue {
      #{$s} {
        &__products {
          background-color: color(services, blue);
        }
        &__txt {
          background-color: color(services-dark, blue);
        }
      }
    }
    &--red {
      #{$s} {
        &__products {
          background-color: color(services, red);
        }
        &__txt {
          background-color: color(services-dark, red);
        }
      }
    }
    &--purple {
      #{$s} {
        &__products {
          background-color: color(services, purple);
        }
        &__txt {
          background-color: color(services-dark, purple);
        }
      }
    }
  }
}
