/* ==========================================================================
   components: banner
   ========================================================================== */
@import "core/styles/_assets.scss";

.banner {
  $b: &;
  height: 600px;
  background-color: color(black);
  position: relative;
  .container {
    position: relative;
    height: 100%;
  }
}
.ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: color(white);
  font-size: 6rem;
  margin-bottom: 0;
}
.el {
  position: absolute;
  bottom: 0;
  &1 {
    left: 0;
  }
  &2 {
    right: 0;
  }
}
