/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  red: #ff4539,
  white: #fff,
  black: #0f1720,
  green: #01aa12,
  dark-green: #00880e,
  grey: #63666a,
  silver: #686b6f,
  forte: (
    red: #ff808b,
    purple: #d48bc8,
  ),
  services: (
    green: #01aa12,
    blue: #00aed6,
    red: #ee2737,
    purple: #93328e,
  ),
  services-dark: (
    green: #008c15,
    blue: #0093b2,
    red: #af272f,
    purple: #80276c,
  ),
  scale: (
    red: #ff808b,
    green: #7ccc6d,
    purple: #d48bc8,
    orange: #ffae62,
    blue: #4ac9e3,
  ),
  scale-shadow: (
    red: #f9bec3,
    green: #b2e5b8,
    purple: #d0b4d4,
    orange: #ffae62,
    blue: #b2e6f2,
  ),
  overlay: rgba(#000, 0.7),
  shadow: rgba(#000, 0.1),
  shadow-hover: rgba(#000, 0.2),
  social-media: (
    linkedin: #0077b5,
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
